<div [ngSwitch]="id">
	<div class="r-buttons">
			<input [(ngModel)]="id" id="1" type="radio" value="1" name="fuck">
			<label for="1">Clock</label>
			<input [(ngModel)]="id" id="2" type="radio" value="2" name="fuck">
			<label for="2">Timer</label>
			<input [(ngModel)]="id" id="3" type="radio" value="3" name="fuck">
			<label for="3">Stopwatch</label>
	</div>
	<app-clock *ngSwitchCase="1"></app-clock>
	<app-timer *ngSwitchCase="2"></app-timer>
	<app-stopwatch *ngSwitchCase="3"></app-stopwatch>
</div>
